body {
  margin: 0;
  background-color: #23252c;
}
.container {
  width: 317px;
  height: 780px;
  border: 5px solid red;
  display: flex;
  margin: 50px auto;
}
#img {
  height: 317px;
  width: 317px;
}
