* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.main-thingy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border: 2px solid red;
  width: 35em;
}
nav {
  width: 100%;
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
nav div {
  margin: 0 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div button {
  border-style: none;
  background: none;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5ch;
  width: 25%;
}
nav div h1 {
  width: 75%;
  font-size: 4ch;
}
.search-area {
  width: 85%;
  border: 2px solid #999;
  border-radius: 7px;
  display: flex;
  align-items: center;

  height: 40px;
}
#movie-search-area {
  margin-left: 0.5em;
  height: 100%;
  width: 70%;
  border-style: none;
}
#movie-search-area::placeholder {
  font-weight: bold;
}
#search-btn {
  width: 25%;
  height: 100%;
  border-style: none;
  background-color: hwb(0 95% 3%);
  border-left: 1px solid #999;
  font-family: "Roboto", sans-serif;

  font-weight: 400;
}
#search-icon {
  margin-left: 0.5em;
}
