body {
  margin: 0;
  /* height: 100vh; */
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* background-color: #1c1c1c; */
}

.main-thingy {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  /* border: 2px solid red; */
  width: 35em;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
nav {
  width: 100%;
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
nav div {
  margin: 0 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div button {
  border-style: none;
  background: none;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5ch;
  width: 25%;
  border: 2px solid white;
  border-radius: 10px;
}
.movie-stats button:hover {
  background-color: #fec654;
  border-radius: 10px;
}
nav div button:hover {
  border-color: red;
}
nav div h1 {
  width: 75%;
  font-size: 4ch;
}
div button a {
  text-decoration: none;
  color: #fff;
}
.search-area {
  background-color: #fff;
  width: 30%;
  border: 2px solid #999;
  border-radius: 7px;
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  top: 135px;
}
#movie-search-area {
  /* margin-left: 0.5em; */
  height: 100%;
  width: 70%;
  padding-left: 0.5em;
  border-style: none;
  text-align: center;
  font-weight: 400;
}
#movie-search-area::placeholder {
  font-weight: bold;
  padding-left: 0.5em;
  text-align: center;
}
#movie-search-area:focus,
#movie-search-area:active {
  outline: none;
  border: none;
  padding-left: 0.5em;
}
#search-btn {
  width: 25%;
  height: 100%;
  border-style: none;
  background-color: hwb(0 95% 3%);
  border-left: 1px solid #999;
  font-family: "Roboto", sans-serif;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}
#search-btn:hover,
#search-btn:active,
#search-btn:focus {
  background-color: limegreen;
}

#search-icon {
  margin-left: 0.5em;
  background-color: #fff;
}
#main-section {
  height: 100vh;
  width: 85%;
  /* height: inherit; */
}
#original-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  flex-direction: column;
  color: #d6d6d6;
}
#original-stuff i {
  font-size: 8ch;
}

.movie {
  display: flex;
  border-bottom: 1px solid #999;
  padding-top: 1em;
  padding-bottom: 1em;
}
.poster-side {
  background-image: url(poster-example.jpg);
  background-size: cover;
  object-fit: contain;
  display: inline-block;
  width: 20%;
  border-radius: 2px;
  height: 150px;
  margin-top: 0.5em;
}
.details-side {
  padding-left: 1.5em;
  width: 80%;
}
.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-section h3 {
  width: 80%;
}
.title-section div {
  width: 20%;
}
#star {
  color: #fec654;
  font-size: 1.5ch;
}
.details-side h3 span {
  font-weight: 500;
  font-size: 1.5ch;
}
.movie-stats {
  display: flex;
  justify-content: space-between;
}
.movie-stats button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.plot-details {
  color: #6b7280;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .search-area {
    width: 65%;
  }
}
@media (max-width: 390px) {
  .search-area {
    width: 65%;
  }
}

.btn-active-flash {
  background-color: lime !important;
}
