* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bolder; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #1c1c1c;
  min-height: 100vh;
}

.main-thingy {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  margin: 2em auto;
  /* border: 2px solid red; */
  width: 35em;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
nav {
  width: 100%;
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

nav div {
  margin: 0 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div button {
  border-style: none;
  background: none;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5ch;
  width: 30%;
}
nav div button a:hover {
  color: lime;
}
nav div h1 {
  width: 65%;
  font-size: 4ch;
}
div button a {
  text-decoration: none;
  color: #fff;
}

main {
  min-height: 30em;
  width: 85%;
}
#original-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  flex-direction: column;
  color: #d6d6d6;
}
#original-stuff p a {
  color: black;
  text-decoration: none;
}
#original-stuff p i {
  color: black;
}

.movie {
  display: flex;
  border-bottom: 1px solid #999;
  padding-top: 1em;
  padding-bottom: 1em;
}
.poster-side {
  background-image: url(poster-example.jpg);
  background-size: cover;
  object-fit: contain;
  display: inline-block;
  width: 20%;
  border-radius: 2px;
  height: 150px;
  margin-top: 0.5em;
}
.details-side {
  padding-left: 1.5em;
  width: 80%;
}
.details-side h3 i {
  color: #fec654;
  font-size: 1.5ch;
}
.details-side h3 span {
  font-weight: 500;
  font-size: 1.5ch;
}
.movie-stats {
  display: flex;
  justify-content: space-between;
}
.movie-stats button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.plot-details {
  color: #6b7280;
}
